#mis_datos {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

#gustos,
#extras {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#gustos h2,
#extras h2 {
    margin-bottom: 10px;
    color: #023e8a;
}

#biografia {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 0px 200px 200px 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

#idea_proyecto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0px 200px 200px 200px;
}