#main_header {
    background-color: #778da9;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 40px;
}

#main_header h1 {
    font-size: 60px;
}

#logotipo {
    font-weight: bold;
    color: #778da9;
}

#navegacion a {
    text-decoration: none;
    margin-left: 20px;
    color: #778da9;
    font-weight: 500;
}

#navegacion a:hover {
    color: #ffffff;
}

#nav_bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#nav img{   
    width: 150px;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

#nav a{
    text-decoration: none;
    color: #03045e;
    font-size: 13px;
    font-weight: 650;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}