#main_header {
    background-color: #00b4d8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 40px;
}

#main_header h1 {
    font-size: 60px;
}

#logotipo {
    font-weight: bold;
    color: #023e8a;
}

#navegacion a {
    text-decoration: none;
    margin-left: 20px;
    color: #333;
    font-weight: 500;
}

#navegacion a:hover {
    color: #00b4d8;
}
