#main_header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    padding: 20px;
}

#logotipo{
    float: left;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#navegacion{
    float: right;
    justify-content: center;
    align-items: center;
}