#grados_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grados_card {
    width: calc(33.333% - 14px);
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.grados_card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.grados_card p {
    padding: 20px;
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media (max-width: 1024px) {
    .grados_card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .grados_card {
        width: 100%;
    }
}

#carreras{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.carreras_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.info_carrera {
    width: 250px;
    background-color: #023e8a;
    color: white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

#carreras_title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-top: 60px;
    color: #03045e;
    padding-bottom: 50px;
}

#partners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#partners img {
    width: 100px;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    justify-content: space-between;
}

#partners_title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-top: 60px;
    color: #03045e;
    padding-bottom: 50px;
}

