#barra_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    border-radius: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #ffffff;
    padding: 15px 30px;
}

#container_nav {
    background-color: #1b263b;
    padding: 25px;
}

a {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-size: 13px;
}