:root{
    --primary-color: #0057a3;
    --secondary-color: #f5f5f5;
    --text-color: #333;
}

.main_body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #778da9;
    min-height: 100vh;
    height: 100%;
}